.v-application.theme--light .nucard {
  transition: all 0.2s !important;

  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 1) !important;
}

.v-application.theme--dark .nucard {
  transition: all 0.2s !important;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8),
    -5px -5px 10px rgba(65, 187, 246, 0.2) !important;
}

a {
  text-decoration: none;
  transition: 0.5s 0.1s ease-in-out;
}

p a:hover {
  color: #6ee7b7;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-left: 1px solid #dadada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: solid 1px #e6e6e6;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #41bbf6;
}
